.divider-signup:before{
    content: "";
    width: 6rem;
    height: 2px;
    display: block;
    background: rgba(128, 128, 128, 0.445);
    position: absolute;
    top: 30.4%;
    left:18.5rem;
} 
.divider-signup:after{
    content: "";
    width: 6rem;
    height: 2px;
    display: block;
    background: rgba(128, 128, 128, 0.418);
    position: absolute;
    top: 30.4%;
    right: 18.5rem;
} 